* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #eeeeee;
}

.banner {
  width: 100%;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  position: relative;
  background-color: black;
}

@media screen and (max-width: 900px) {
  .banner {
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
  .banner {
    height: 150px;
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .banner::before {
    background-image: url(../../images/banner-tablet.jpg);
  }
}

.banner h1 {
  position: relative;
}

.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 50px;
}

.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #d48919;
  border-color: #d48919 transparent #d48919 transparent;
  -webkit-animation: loading 1.2s linear infinite;
          animation: loading 1.2s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 6.5625em;
  color: white;
  letter-spacing: 5px;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 4.375em;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2.4375em;
  }
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.125em;
  color: #d48919;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 1.5625em;
  }
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  h3 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 450px) {
  h3 {
    font-size: 1.5625em;
  }
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625em;
  color: #d48919;
  font-weight: 400;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}

@media screen and (max-width: 900px) {
  p {
    font-size: 1em;
  }
}

.hero--accent {
  height: 20px;
  width: 100%;
  background-color: #d48919;
}

.navigation {
  margin: 0 auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
}

.navigation .nav-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .navigation .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background-color: rgba(71, 71, 71, 0.9);
    z-index: 10;
  }
  .navigation .nav-links li {
    opacity: 0;
    padding-bottom: 60px;
  }
  .navigation .nav-links li a {
    color: white;
  }
  .navigation .nav-links li a:hover {
    border-bottom: 2px solid white;
  }
  .navigation .nav-links li .active {
    border-bottom: 2px solid white;
  }
}

@media screen and (max-width: 450px) {
  .navigation .nav-links {
    height: 100vh;
    width: 100%;
  }
}

.navigation .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.navigation a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875em;
  text-decoration: none;
  color: black;
  width: 100%;
}

.navigation a i {
  padding-right: 8px;
}

.navigation a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.navigation .active {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 900px) {
  .navigation .logo-link {
    display: none;
  }
}

.navigation .logo-img {
  width: 100%;
  max-width: 350px;
}

.navigation .logo-link:hover {
  border-bottom: none;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 900px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }
}

.logo-responsive {
  display: none;
}

@media screen and (max-width: 900px) {
  .logo-responsive {
    display: block;
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 900px) {
  .burger {
    display: block;
    z-index: 100;
  }
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

.hero--background {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header-image {
  height: 100vh;
}

.featured-items--container {
  background-color: #433d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 160px;
}

.featured-items--container h2 {
  margin-top: 120px;
  margin-bottom: 130px;
  text-transform: uppercase;
}

.featured-items--card--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .featured-items--card--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.featured-items-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.featured-items-card img {
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.featured-items-card h4 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.featured-items-card p {
  color: #e2dace;
  max-width: 409px;
  line-height: 33px;
  padding-bottom: 20px;
}

.hero-text--container {
  width: 80%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 60px;
}

@media screen and (max-width: 900px) {
  .hero-text--container {
    width: 100%;
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.hero-text--container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
}

.hero-text--container p {
  width: 100%;
  max-width: 450px;
}

@media screen and (max-width: 900px) {
  .hero-text--container p {
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  .hero-text--container p {
    display: none;
  }
}

.products--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 115px;
  margin-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .products--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .products--container {
    margin-top: 40px;
  }
}

.search--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  margin-right: 5px;
}

.search--container .search {
  width: 100%;
  margin: 10px;
  padding: 10px;
  min-width: 200px;
  height: 60px;
  font-size: 20px;
}

.search--container .search:hover {
  margin: 3px solid black;
}

.product-cards--container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .product-cards--container {
    width: 90%;
  }
}

.product-cards--container a {
  text-decoration: none;
}

.product-card--link {
  margin: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.product-card--link:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.product-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: white;
}

.product-card img {
  max-width: 300px;
}

@media screen and (max-width: 450px) {
  .product-card img {
    max-width: 200px;
  }
}

.product-card h4 {
  padding: 15px;
}

.product-card p {
  color: black;
}

.details-page--container {
  width: 90%;
  margin: 0 auto;
}

.breadcrumb--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
}

@media screen and (max-width: 450px) {
  .breadcrumb--container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
  }
}

.breadcrumb {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.breadcrumb li {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.breadcrumb a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.breadcrumb .active-product {
  color: black;
}

.details--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 150px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .details--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 80px auto;
  }
}

@media screen and (max-width: 450px) {
  .details--container {
    margin-top: 40px;
  }
}

.details--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.details--image img {
  width: 600px;
}

@media screen and (max-width: 900px) {
  .details--image img {
    width: 500px;
  }
}

@media screen and (max-width: 450px) {
  .details--image img {
    width: 300px;
  }
}

.details--info {
  height: 600px;
  width: 100%;
  max-width: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  padding: 50px;
}

@media screen and (max-width: 900px) {
  .details--info {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .details--info {
    width: 300px;
    padding: 20px;
  }
}

.details--info h2 {
  border-bottom: 2px solid #d48919;
  padding-bottom: 10px;
  margin-bottom: 50px;
  color: black;
}

@media screen and (max-width: 450px) {
  .details--info h2 {
    text-align: center;
  }
}

.details--info .description {
  padding-bottom: 10%;
}

.details--info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 450px) {
  .details--info div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.details--info div .price {
  font-size: 1.875em;
  margin-right: 5px;
}

@media screen and (max-width: 450px) {
  .details--info div .price {
    font-size: 1.5em;
  }
}

.details--info div button {
  margin-right: 10%;
  width: 170px;
  height: 55px;
  color: white;
  background-color: #d48919;
  border-radius: 6px;
  border: 2px solid #d48919;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
}

@media screen and (max-width: 450px) {
  .details--info div button {
    margin-right: 0;
    margin-top: 20px;
  }
}

.details--info div button:hover {
  background-color: transparent;
  color: black;
}

.details--info div button:focus {
  outline: none;
}

.cart--container {
  width: 80%;
  margin: 80px auto;
  min-height: 500px;
}

@media screen and (max-width: 900px) {
  .cart--container {
    width: 95%;
  }
}

.cart-titles--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 4px;
      grid-template-areas: "product--title price--title";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 5px solid #d48919;
  background-color: #433d3d;
  color: #d48919;
}

@media screen and (max-width: 450px) {
  .cart-titles--container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.product--title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: product--title;
  text-align: center;
}

.price--title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: price--title;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .price--title {
    display: none;
  }
}

.product--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 25% 10% 25% 20%;
      grid-template-columns: 20% 25% 10% 25% 20%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 4px;
      grid-template-areas: "product-image product-title details-link remove-from-cart product-price";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: white;
  padding: 10px;
  margin: 15px 0;
}

@media screen and (max-width: 450px) {
  .product--container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 1px;
        grid-template-areas: "product-image product-title" "product-image details-link" "product-image remove-from-cart" "product-image product-price";
  }
}

.product-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: product-image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-image img {
  width: 150px;
}

@media screen and (max-width: 900px) {
  .product-image img {
    width: 100px;
  }
}

.product-title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: product-title;
      justify-self: start;
  margin-left: 10px;
}

@media screen and (max-width: 900px) {
  .product-title {
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .product-title h4 {
    font-size: 1.25em;
    text-align: center;
  }
}

.details-link {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: details-link;
}

.details-link a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid black;
}

.remove-from-cart {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: remove-from-cart;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.remove-from-cart .remove-from-cart--button {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.remove-from-cart p {
  font-size: 1em;
  margin-right: 5px;
  font-family: "Montserrat", sans-serif;
}

.product-price {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: product-price;
}

@media screen and (max-width: 900px) {
  .product-price {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media screen and (max-width: 450px) {
  .product-price {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.total--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 30%;
      grid-template-columns: 1fr 1fr 1fr 1fr 30%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 1px;
      grid-template-areas: ". . . . total";
}

@media screen and (max-width: 900px) {
  .total--container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 50%;
        grid-template-columns: 1fr 1fr 1fr 1fr 50%;
  }
}

@media screen and (max-width: 450px) {
  .total--container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr 100%;
  }
}

.total {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: total;
  text-align: center;
  background-color: #433d3d;
  padding: 40px 0;
  color: #d48919;
}

@media screen and (max-width: 450px) {
  .total {
    padding: 20px 0;
  }
}

.total h3 {
  padding-bottom: 20px;
}

.total p {
  color: #e2dace;
}

.no-items-cart {
  font-size: 30px;
  text-align: center;
}

.login--background {
  background-color: #433d3d;
  height: 100%;
  padding: 80px 0;
}

@media screen and (max-width: 450px) {
  .login--background {
    padding: 40px 0 80px 0;
  }
}

.login--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 1px;
      grid-template-areas: "login--text login--form";
  width: 90%;
  margin: 0 auto;
  justify-items: center;
  height: 800px;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
  .login--container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "login--text" "login--form";
    height: 100%;
  }
}

.login--text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: login--text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d48919;
  width: 100%;
  border-radius: 20px 0 0 20px;
}

@media screen and (max-width: 900px) {
  .login--text {
    border-radius: 20px 20px 0 0;
  }
}

.login--text p {
  max-width: 600px;
  font-size: 2.2rem;
  margin: 50px;
  line-height: 55px;
}

@media screen and (max-width: 900px) {
  .login--text p {
    max-width: 450px;
    font-size: 1.8rem;
    line-height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .login--text p {
    font-size: 1.2rem;
    line-height: 25px;
    margin: 30px;
  }
}

.login-form--container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: login--form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  .login-form--container {
    padding: 40px 0;
  }
}

@media screen and (max-width: 450px) {
  .login-form--container h2 {
    font-size: 2.3em;
  }
}

.login-form--container form {
  padding: 2em;
  border-radius: 1em;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 900px) {
  .login-form--container form {
    padding: 1em;
  }
}

.login-form--container label {
  display: block;
  margin-top: 3rem;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .login-form--container label {
    margin-top: 2rem;
  }
}

.login-form--container input {
  width: 100%;
  margin-top: 10px;
  padding: 20px 25px;
  font-size: 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #eeeeee;
}

@media screen and (max-width: 450px) {
  .login-form--container input {
    font-size: 16px;
    padding: 15px 20px;
  }
}

.login-form--container input:focus {
  outline: none;
  border: 2px solid #d48919;
}

.login-form--container button {
  background-color: #d48919;
  width: 100%;
  padding: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 3rem;
  border: 2px solid #d48919;
  font-size: 20px;
}

.login-form--container button:hover {
  background-color: transparent;
  color: black;
}

.login-form--container button:focus {
  outline: none;
}

.message {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.message.error {
  background-color: #eb1818;
  color: white;
}

.message.warning {
  background-color: #e97e1b;
  color: white;
}

.message.success {
  background-color: #33aa0e;
  color: white;
}

.admin--container {
  width: 80%;
  margin: 0 auto;
  background-color: #eeeeee;
}

.admin-info--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 900px) {
  .admin-info--container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0 50px 0;
  }
}

@media screen and (max-width: 450px) {
  .admin-info--container {
    padding: 20px 0 40px 0;
  }
}

.admin-info--container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .admin-info--container div {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .admin-info--container div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.admin-info--container p {
  max-width: 400px;
  min-width: 300px;
  margin-right: 5px;
}

@media screen and (max-width: 450px) {
  .admin-info--container p {
    padding: 0 30px;
    text-align: center;
  }
}

.admin-info--container .add-product--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 250px;
  height: 80px;
  border-radius: 40px;
  background-color: #22aa3d;
  color: white;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 40px;
}

@media screen and (max-width: 900px) {
  .admin-info--container .add-product--button {
    min-width: 200px;
    height: 50px;
    font-size: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 450px) {
  .admin-info--container .add-product--button {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.admin-info--container .add-product--button i {
  padding-right: 10px;
}

.admin-info--container .add-product--button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
}

.admin-info--container #logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 250px;
  height: 80px;
  border-radius: 40px;
  background-color: #f02828;
  border: 2px solid red;
  color: white;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .admin-info--container #logout {
    min-width: 200px;
    height: 50px;
    font-size: 20px;
  }
}

.admin-info--container #logout:hover {
  background-color: transparent;
  color: black;
}

.admin-info--container #logout:focus {
  outline: none;
}

.admin-products--container {
  padding-bottom: 100px;
}

.admin-product--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 45%;
      grid-template-columns: 25% 25% 45%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 1px 4px;
      grid-template-areas: "product-image product-title edit-product-link";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: white;
  padding: 10px;
  margin: 15px 0;
}

@media screen and (max-width: 450px) {
  .admin-product--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
  .admin-product--container img {
    width: 100%;
  }
  .admin-product--container h4 {
    padding: 30px 0;
  }
}

.admin-product--container .admin-details--link {
  text-decoration: none;
}

.edit-product-link {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: edit-product-link;
}

.edit-product-link a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid black;
  font-size: 25px;
}

.add--container {
  background-color: #433d3d;
  padding: 50px 0;
}

.add--container .addProductFrom--container {
  background-color: white;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.add--container .addProductFrom--container form {
  width: 80%;
  padding: 1em;
  border-radius: 1em;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 900px) {
  .add--container .addProductFrom--container form {
    padding: 1em;
  }
}

.add--container .addProductFrom--container label {
  display: block;
  margin-top: 2rem;
  font-size: 20px;
}

.add--container .addProductFrom--container .add-product-title {
  margin-top: 0;
}

.add--container .addProductFrom--container input {
  width: 100%;
  margin-top: 10px;
  padding: 20px 25px;
  font-size: 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #eeeeee;
}

@media screen and (max-width: 450px) {
  .add--container .addProductFrom--container input {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 900px) {
  .add--container .addProductFrom--container input {
    font-size: 1rem;
  }
}

.add--container .addProductFrom--container input:focus {
  outline: none;
  border: 2px solid #d48919;
}

.add--container .addProductFrom--container .featured-button--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 40px;
      grid-template-columns: 40px 40px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  width: 40%;
}

.add--container .addProductFrom--container .featured-button--container label {
  margin: 0;
}

.add--container .addProductFrom--container .featured-button--container input {
  margin: 0;
}

.add--container .addProductFrom--container .button--container {
  text-align: center;
}

.add--container .addProductFrom--container button {
  background-color: #d48919;
  width: 80%;
  padding: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 2rem;
  border: 2px solid #d48919;
  font-size: 20px;
}

.add--container .addProductFrom--container button:hover {
  background-color: transparent;
  color: black;
}

.add--container .addProductFrom--container button:focus {
  outline: none;
}

.add--container .addProductFrom--container .delete {
  background-color: #f02828;
  border: 2px solid red;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d6d3d3;
  height: 217px;
}

@media screen and (max-width: 900px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer img {
  width: 250px;
}

footer .navigation--footer {
  width: 50%;
}
/*# sourceMappingURL=style.css.map */