$primary-color: #d48919;
$background-color: #eeeeee;
$background-color-two: #433d3d;
$background-color-footer: #d6d3d3;
$white-text-color: #e2dace;

$tablet-width: 900px;
$mobile-width: 425px;

$font-paragraphs: "Roboto", sans-serif;
$font-headings: "Playfair Display", serif;
$font-sub-headings: "Montserrat", sans-serif;
