footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: $background-color-footer;
	height: 217px;

	@media screen and (max-width: $tablet-width) {
		justify-content: center;
		flex-direction: column;
	}

	img {
		width: 250px;
	}

	.navigation--footer {
		width: 50%;
	}
}
